@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Girassol|Merriweather|Open+Sans|PT+Sans+Narrow|Roboto+Slab|Ubuntu&display=swap|Source+Sans+Pro|=Bebas+Neue&display=swap|Anton');

:root {
  font: 16px / 1 sans-serif;
}

html {
  background: url('components\images\hospital.jpg') no-repeat center center
    fixed;
  background-size: cover;
  
}

body {
  margin: 0;
  
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  
  position: relative;
}

h5 {
  color: #0d0d0d;
}

h1 {
  text-align: center;
}


p {
  font-weight: bold;
}

.doctors_name {
  font-family: 'Merriweather';
  margin-bottom: 2rem;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(253, 254, 254);
  color: black;
 
  align-items: center;
  text-decoration: none;
  margin-bottom: 1rem;
  padding-bottom: 0px;
  height: 40px;
}

.feel_good{
  font-family: 'Merriweather';
}

#Pick_Type{
  font-family: 'Bebas+Neue&display=swap';
  color:rgb(92, 90, 90);
}

.faSignInAlt{
  margin-left: 5px;
  font-size: 1.3rem;
  color: #007dc1;
}

.faCalendarCheck{
  color: #12374b;
  margin-left: 10px;
  margin-bottom: 1px;
  font-size: 1.5rem;
}

.Make_Appointment{
  font-size: 1rem;
  font-weight: bold;
  color: #060d11;
  text-decoration: underline;
  
}

.patient_info{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.doctors .Make_Appointment :hover {
  text-decoration: underline;
}


.faUserMd{
  font-size: 3.5rem;
  margin-top: 2rem;
  color: #007dc1;
}

.faUserPlus {
  font-size: 3.5rem;
  margin-top: 20px;
  color: #007dc1; 
  margin-left: 15px;
}

.Cancelled_Appointment {
  color: red;
  
}

.Signup_Msg {
  
  font-size: 15px;
  color: #56baed;
  
}

#Signup_Msg_Id {
  margin-bottom: 0; 
  
}

#Brief{
  font-size: 3.5rem;
  margin-top: 1.7rem;
  color: #007dc1;
}

.Doctor_Portal h5 {

  color: #007dc1;
  padding-bottom: 10px;
  
}


h5 {
  padding-bottom: 5px;
}


.Doctor_Portal  :hover {
  text-decoration: underline;
  color: #0f4461;
}


nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  align-items: center;
  color: black;
  
}

nav li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 0.5px solid rgb(143, 140, 140);
  font-weight: bold;
  font-size: 0.8rem;
  color: black;

}

#logout {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0rem;
  padding-left: 0rem;
  border-right: 0px solid rgb(143, 140, 140);
  font-weight: bold;
  font-size: 0.75rem;
  color: black;
  margin: 0rem;
  margin-top: 1px;
  text-transform: none;
  background-color: rgba(253, 254, 254);
  -webkit-box-shadow: 0 0px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 0px 0px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px;
   text-transform: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {

  color: black;
}

a:link {
  text-decoration: none;
}

h4 {
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
}

footer {
 
  position:fixed;
 bottom:0;
  width:100%;
  height: 0.8rem;
  display: inline-flex;
  justify-content: center; 
  
  padding-bottom: 0.8rem;
  overflow: hidden;
  
  background-color: rgba(253, 254, 254, 0.7);
  ;
  height: 35px;
  
}

.social_container{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 2em;
  
}

.Rate_Container {
  margin-left: 10px;
}

#Rev {
  font-size: 1rem;
}

.Follow {
  padding-right: 10px;
}

.middle{
 
  display: flex;
  flex-direction: row;
}


.mid :hover {
  text-decoration: underline;
}

.social_icons :hover {
font-size: 1.1rem;
}

.sign_in {
  font-size: 1rem;
  margin-right: 10px;
}


.sign_up {
  font-size: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  
}

.type_of_doc {
  margin-bottom: 3rem;
}

.submit_appointment_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



button {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



.log_in_btn{
  margin-bottom: 0.1rem;
}

.doctors_container .myButton {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #124d77;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}



#Pic_Doc {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width : 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  height : 2.5rem
}

#Pic_Doc_Den {

  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 300px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  height : 2.5rem
}

.myButton:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.myButton:active {
  position: relative;
  top: 1px;
}


.submit_appointment {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.Button_Container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
} 





.cancel_but {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0rem;
  width: 220px;
  height: 40px;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}



#Pick_Doc_Con{
  display: flex;
  flex-direction: column;
  background-color: rgba(242, 245, 247, 0.85);
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 0.5px;
  padding-bottom: 1rem;
 
  width: 400px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.doctors {
  background-color: rgba(95, 186, 233, 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0.5px;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  width: 90%;
  max-width: 450px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.doctors2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(201, 223, 235, 0.8);
  margin-top: 10px;
  margin-bottom: 30px;
  
  padding-top: 0.5px;
  padding-bottom: 1rem;
  width: 90%;
  max-width: 450px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.floor4 footer {
  display: none;
  }


.star-ratings {
  vertical-align: middle;
  height: 1rem;
  margin-top: 1.25rem;
  margin-left: 0.4rem;
}

.rate{
  display: flex;
  flex-direction: row;
  
  
}
.Review {
  margin: 0;
}
.star-container {
  margin-top: -2.4rem;
 
}

.white {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 330px;
  height: 416px;
  margin-right: 3rem;
  margin-top: 3rem;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}


.white_signup {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  margin-top: 1.5rem;
  width: 330px;
  height: 30rem;
  margin-right: 3rem;
  
  
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  
}

.Doc_white_signup{

  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 330px;
  height: 25rem;
  margin-top: 2.5rem;
  margin-right: 3rem;
  
  
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;

}

#info {
  margin-left: 10px;
} 


#email {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#Dis {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  background-color: rgba(95, 186, 233, 0.5);
  border: none;
  color: rgb(19, 9, 9);
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width:230px;
  padding-bottom: 3px;
  height:2.2rem;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 20px 20px;
 
}



.patient_info {
  background-color:rgba(95, 186, 233, 0.7);
  
  
}

 

.reason{
  background-color:rgba(95, 186, 233, 0.7);

}

.doctors2 .inp_form{
  background-color: rgba(19, 53, 70, 0.4);
}

textarea {
  height: 10rem;
  width: 20rem;
  border: none;
  text-align: start;
  text-transform: none;
  font-size: 17px;
  background-color: rgba(95, 186, 233, 0.4);
  padding: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 10px 20px 10px;
  
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}


.cont_error{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: rgb(255, 255, 255);
  position: absolute;
	top:0;
	bottom: 0;
	left: 20;
	right: 0;
  vertical-align: middle;	
  width: 500px;
  height: 150px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

hr.style13 {
	height: 10px;
	border: 0;
  box-shadow: 0 10px 10px -10px #555252 inset;
}


.Appointment_Results{
   
    word-wrap: break-word;
}



#btnControl {
  display: none;
}

#btnControl:active {

  display: block;
}


@media (min-width: 767px) and (max-width: 1024px) {
  
 footer {
   font-size: 0.63rem;
   height: 1.1rem;
   
 }

 .middle {

  margin-left: 3rem;
 }

 .white_signup {
   
  padding-bottom: 1rem;
 }

 .Doc_white_signup{

  height: 25rem;
  margin-top: 2rem;
  

 }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .feel_good {
    font-size: 1rem;
    padding-left: 0.3rem;
  }

  nav li {
    font-size: 0.6rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }

  #logout {
    font-size: 0.6rem;
   
  }

  .white {
    margin-left: auto;
    margin-right: auto;
     height: 360px;
     width: 300px;
  }

  .white_signup{

    margin-left: 2.7rem;
    height: 430px;
    width: 300px;
  }


  .Doc_white_signup {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
     height: 330px;
     width: 300px;
  }


  .faUserMd{
    font-size: 3rem;

  }

  .faUserPlus {
    font-size: 2.5rem;
  }


  .faSignInAlt {
   
    font-size: 0.8rem;

  }

  .sign_up {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom:0.5rem ;
  }


  .sign_in {
    font-size: 0.8rem;
    margin-left: 20px;
  }



 .log_in_btn{

width: 0.8rem ;
font-size: 12px;
white-space: nowrap;
vertical-align: middle;
height:2.5rem;
display: inline-flex;
justify-content: center;

  }

#Doc_Text_Signup {
  margin-top: 1rem;
}

#sign_up_btn_doc {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

  .sign_up_btn {

    width: 0.8rem ;
    font-size: 12px;
    white-space: nowrap;
    vertical-align: middle;
    height:2.5rem;
    display: inline-flex;
    justify-content: center;
    

  }

  .Doctor_Portal{
  
    font-size: 0.75rem;

  }

  footer {
    font-size: 0.50rem;
    height: 1.1rem;
    
  }
 
  .middle {
 
   margin-left: 6rem;
   margin-right: 0rem;

  }

  .Follow {
    display: none;
  }

  #Contact {

    display: none;
  }
  
  footer {
    height : 0.55rem;
  }

  .SingleDoctorPortal_Container{
    
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  
  .feel_good {
    font-size: 1rem;
    padding-left: 0.3rem;
  }

  nav li {
    font-size: 0.6rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }

  #logout {
    font-size: 0.6rem;
   
  }

  header {
    width: 100%;
  }
  
  .white {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 280px;
 }

 .Doc_white_signup {
 
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 280px;
}

#Pick_Doc_Con {
  width: 300px;
}

#Pic_Doc_Den {
  width: 250px;
}

#Pic_Doc {
  width: 250px;
}

.white_signup{

  margin-left: auto;
  margin-right: auto;
  height: 430px;
  width: 300px;
}

#Rev {
  font-size: 0.78rem;
  
}

.Rate_Container {
  margin-left: 10px;
}

#sign_up_btn_doc {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

  .sign_up_btn {

    width: 0.8rem ;
    font-size: 12px;
    white-space: nowrap;
    vertical-align: middle;
    height:2.5rem;
    display: inline-flex;
    justify-content: center;
    

  }

  textarea {
    width :16.5rem;
  }

 .submit_appointment {
    width :16rem;
    white-space: nowrap;
    font-size: 0.7rem;
    text-align:center;
    padding : 0;
    height:2.5rem;
    
  }

 .sign_up {
  font-size: 0.8rem;
  margin-top: 15px;
  margin-bottom: 5px;
}


.sign_in {
  font-size: 0.8rem;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.Doctor_Portal{
  
  font-size: 0.75rem;

}

.faUserMd{
  font-size: 3rem;

}

.faUserPlus {
  margin-top: 20px;
  font-size: 3rem;
}


.faSignInAlt {
 
  font-size: 0.8rem;

}

.faCalendarCheck {
  font-size: 1.1rem;
}

.doctors_name {
margin-bottom: 1rem;

}

.Make {
  font-size: 1.3rem;
}

.doctors_name_form {
  font-size: 1.5rem;
}

.doctors_info_form {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3{
  font-size: 0.8rem;
}

.patient_info {
  margin-bottom: 10px;
}

.Reason {
  font-size: 1.3rem;
} 

  .Visit {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;

}



 footer {
  height : 0.55rem;
  font-size: 0.5rem;
  width:  103%;;
}


#Contact {

  display: none;
}

#Amgad {
  display: none;
}

.Follow {
  display: none;
}

.middle {
  white-space: nowrap;
  margin-left: 5rem;
 }

 .mid {
   padding-left: 0px;
   padding-right: 0px;
 }

 .social_icons h4 {
   padding-left: 4px;
   
 }

 .log_in_btn{

  width: 0.8rem ;
  font-size: 12px;
  white-space: nowrap;
  vertical-align: middle;
  height:2.5rem;
  display: inline-flex;
  justify-content: center;
  
    }
    .cancel_but {
      height: 40px;
      width: 180px;
      margin-top: 20px;
      font-size: 0.6rem;

    }
    .Appointment_Results{
      
      word-wrap: break-word;
  }

  .cancel_appointment {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    font-size: 0.7rem;
    word-wrap: break-word;
  }


  .star-ratings {
    vertical-align: middle;
    height: 1rem;
    margin-top: 1rem;
    margin-left: 0.3rem;
  }
  
  .rate{
    display: flex;
    flex-direction: row;
    
    
  }
  .Review {
    margin: 0;
  }
  .star-container {
    margin-top: -2.4rem;
   
  }
}
